<div class="outer-wrapper" 
     data-controller="select-interface"
     data-select-interface-selected-class="selected">
  <%= render "select_interface" %>
  <%= form_for reply, url: { action: "create" } do |reply_form| %>
    <%= reply_form.select(:value, 
        options_for_select([["ðŸ˜¡", 0],
                            ["ðŸ™", 1],
                            ["ðŸ˜", 2, selected: true],
                            ["ðŸ™‚", 3],
                            ["ðŸ˜€", 4]]), 
       {}, 
       { class: "hidden", data: { "select-interface-target": "parent" } }) %>
   <%= reply_form.submit "Reply to Poll" %>
  <% end %>
</div>
