<div id="display-element" class="inner-wrapper">
  <div  class="selection"
        data-select-interface-target="option"
        data-action="click->select-interface#selectOption"
        data-value="0">
    <div class="emoji-label label"></div>
    <div class="color red"></div>
  </div>
  <div class="selection"
        data-select-interface-target="option"
        data-action="click->select-interface#selectOption"
        data-value="1">
    <div class="emoji-label label"></div>
    <div class="color orange"></div>
  </div>
  <div class="selection"
        data-select-interface-target="option"
        data-action="click->select-interface#selectOption"
        data-value="2">
    <div class="emoji-label label"></div>
    <div class="color yellow"></div>    
  </div>
  <div class="selection"
        data-select-interface-target="option"
        data-action="click->select-interface#selectOption"
        data-value="3">
    <div class="emoji-label label"></div>
    <div class="color green"></div>
  </div>
  <div class="selection"
        data-select-interface-target="option"
        data-action="click->select-interface#selectOption"
        data-value="4">
    <div class="emoji-label label"></div>
    <div class="color blue"></div>
  </div>  
</div>