<h1 class="page-title">Sense of Feelings</h1>
<h4 class="subtitle">Create a quick poll and figure out how the team feels</h4>
<%= link_to "Create New Poll", polls_path(poll), method: :post, class: "page-link" %>
<div data-controller="hello"></div>