<%= render "poll_title" %>

<span>Send below link to your team</span>
<div data-controller="clipboard"
     class="poll-link">
  <%= link_to "#{new_poll_reply_url(poll)}", new_poll_reply_path(poll), data: { "clipboard-target": "source"} %>
  <div class="side-icon" 
       data-action="click->clipboard#copyText">
    <%= image_tag("clipboard.svg", class: "small-icon") %>
  </div>
</div>

<div>
  <%= bar_chart(chart_data(replies)) %>
</div>
